.mainHomeContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainCardHomeContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 10px;
}
