.mainHomeContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainHomeContainer h1{
    color: rgb(0, 0, 0);
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    font-size: 5rem;
    letter-spacing: 10px;
    text-align: center;
}


.mainCardHomeContainer{
    display:grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 2fr);
    background-image: url('../../Images/wallpaper-cards-container.jpg');
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
    opacity: 0.75;
    margin:0;
    padding: 0;
}

@media (max-width: 1600px) and (min-width: 740px){
    .mainCardHomeContainer{
        width: 90vw;
        flex-direction: column;
        grid-template-columns: repeat(2, 2fr)
    }
    .mainHomeContainer h1{
        font-size: 2rem;
        text-align: center;
    }
}

@media (max-width: 740px) and (min-width: 300px){
    .mainCardHomeContainer{
        width: 70vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .mainHomeContainer h1{
        font-size: 2rem;
        text-align: center;
    }
}

